*{
    margin: 0;
    padding: 0;
}
/* mobile nav styling */
header{
    display: none;
}

.mobilenav{
    width: 2rem;
    height: auto;
    position: fixed;
    top: 0;
    right: 0.2rem;
}
/* mobile dropdown content */
.mobilenav-content{
    position: absolute;
    top: 3.2rem;
    right: 0rem;
    visibility: hidden;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.mobilenav:hover .mobilenav-content{
    visibility: visible;
}

nav ul, .mobilenav ul{
    list-style-type: none;
}

nav ul a, .mobilenav ul a{
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 600px){

    .mobilenav{
        display: none;
    }

    .mobileimg{
        display: none;
    }

    header{
        display: contents;
    }

    nav{
        background-color: rgb(95, 95, 95);
        padding: 0.5rem 0;
    }

    nav ul{
        text-align: center;
    }

    nav ul li{
        display: inline-block;
        padding: 0.5rem;
        margin: 0 0.5rem;
    }

    nav ul li a{
        color: rgb(224, 224, 224);
    }

    main{
        max-width: 800px;
        margin: 0 auto;
    }

    section h1{
        background-color: hsla(0, 0%, 100%, 1);
        text-shadow: none;
    }
    
}

main p,main img,main h2{
    margin: 1rem 0;
}

img{
    max-width: 100%;
}

h1{
    background-color: burlywood;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    text-shadow: grey -1px -1px;
}