/* Reset of all margins and paddings */

*
{
    margin: 0;
    padding: 0;
}

/* Main styling */

body
{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styling */

header
{
    background-color: #CCCCCC;
    height: 100px;
}

header img
{
    height: 100px;
}

header img:last-of-type
{
    float: right;
}

/* General menu styling - applies to both menus (and footer for some properties) */

nav ul
{
    list-style-type: none;
    line-height: 40px;
}

nav ul a
{
    padding: 0 2em;
}

nav ul a, footer a
{
    text-decoration: none;
    color: white;
}

nav ul li:hover
{
    background-color: #CCCCCC;
}

nav ul li:hover a
{
    color: rgba(50, 54, 84, 0.8);
}

/* Top navigation styling (and some also apply for footer) */

nav.top, footer
{
    height: 40px;
    background-color: #565952;
    color: white;
}

nav.top ul li
{
    display: inline-block;  
}

nav.top ul li a
{
    border-right: 1px solid white;
}

nav.top ul li:last-of-type a
{
    border-right: none;
}

nav.top ul li a::before
{
    content: "🞂";
    padding-right: 0.5rem;
    color: rgba(50, 54, 84, 0.8);
}

/* Side navigation styling */

nav.side
{
    float: left;
    height: calc(100% - 180px);
    width: 15%;
    background-color: #CCCCCC;
}

nav.side ul
{
    background-color: rgba(50, 54, 84, 0.8);
}

nav.side ul li a
{
    display: block;
    border-bottom: 1px solid white;
    margin: 0 1rem;
}

nav.side ul li:last-of-type a
{
    border-bottom: none;
}

/* Footer styling */

footer
{
    position: absolute;
    bottom: 0;
    width: 1200px;
    text-align: center;
    line-height: 40px;
}

/* Styling of content area */

main
{
    /* 18% padding on left side to account for the sidebar nav that is 15% wide */
    padding: 2em 2em 2em 18%; 
}

/* Section size and positioning */

section
{
    width: 45%;
    height: 100%;
    font-size: small;
}

section:first-of-type
{
    float: left;
}

section:last-of-type
{
    float: right;
}

/* Article styling */

article
{
    margin-bottom: 5em;
}

article img
{
    float:left;
    margin-right: 1em;
}

article p:first-of-type::first-line
{
    color: rgba(50, 54, 84, 0.9);
    line-height: 1rem;
    padding-bottom: 2px;
    font-size: 1rem;
    font-weight: bold;
}

h2
{
    color: #565952;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #565952;
}

