/* Reset of all margins and paddings */

*
{
    margin: 0;
    padding: 0;
}

/* Main styling */

body
{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 100px 40px auto 40px;
    grid-template-areas:
    "header header header header header header header"
    "menu1 menu2 menu3 menu4 menu5 menu6 menu7"
    "side main main main main main main"
    "footer footer footer footer footer footer footer";
}

/* Header styling */

header
{
    background-color: #CCCCCC;
    grid-area: header;
}

header img
{
    height: 100px;
}

header img:last-of-type
{
    float: right;
}

/* General menu styling - applies to both menus (and footer for some properties) */

nav ul,body li
{
    list-style-type: none;
}

li a, footer a
{
    text-decoration: none;
    color: white;
}

li:hover
{
    background-color: #CCCCCC;
}

li:hover a
{
    color: rgba(50, 54, 84, 0.8);
}

/* Top navigation styling (and some also apply for footer) */

body>li:nth-of-type(1){
    grid-area: menu1;
}

body>li:nth-of-type(2){
    grid-area: menu2;
}

body>li:nth-of-type(3){
    grid-area: menu3;
}

body>li:nth-of-type(4){
    grid-area: menu4;
}

body>li:nth-of-type(5){
    grid-area: menu5;
}

body>li:nth-of-type(6){
    grid-area: menu6;
}

body>li:nth-of-type(7){
    grid-area: menu7;
}

body>li, footer
{
    background-color: #565952;
    color: white;
}

body>li
{
    text-align: center;
    border-right: 1px solid white;
}

body>li a
{
    line-height: 38px
}

body>li:last-of-type
{
    border-right: none;
}

/* Side navigation styling */

nav.side
{
    background-color: #CCCCCC;
    grid-area: side;
}

nav.side ul li
{
    background-color: rgba(50, 54, 84, 0.8) !important;
    line-height: 40px;
}

nav.side ul li a
{
    display: block;
    border-bottom: 1px solid white;
    margin: 0 1rem;
}

nav.side ul li:last-of-type a
{
    border-bottom: none;
}

/* Footer styling */

footer
{
    bottom: 0;
    width: 1200px;
    text-align: center;
    line-height: 40px;
    grid-area: footer;
}

/* Styling of content area */

main
{
    grid-area: main;
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: auto;
    grid-template-areas: 
    "main1 main2";
}

/* Section size and positioning */

section
{
    font-size: small;
    margin: 2rem;
}

section:first-of-type
{
    grid-area: main1;
}

section:last-of-type
{
    grid-area: main2;
}

/* Article styling */

article
{
    margin-bottom: 5em;
}

article img
{
    float:left;
    margin-right: 1em;
}

article p:first-of-type::first-line
{
    color: rgba(50, 54, 84, 0.9);
    line-height: 1rem;
    padding-bottom: 2px;
    font-size: 1rem;
    font-weight: bold;
}

h2
{
    color: #565952;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #565952;
}

