body
{
    /* coloring the background and text */
    background-color: hsl(24, 80%, 86%);
    color: hsl(240, 27%, 36%);
    /* margins for body */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    /* start of font, weight and size */
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h1 h2 h3{
    font-family: 'Overpass', sans-serif;
}

h2 h3{
    font-weight: 600;
}

h1{
    font-weight: 700;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1,5rem;
}
/* end of font */

/* start of nav */
nav
{
    text-align: center;
    background-color: hsl(5, 43%, 56%);
    min-height: 30px;
}

nav a
{
    color: hsl(240, 27%, 36%);
    text-decoration: none;
    padding: 6px;
}
/* end of nav */

img
{
    /* img scaling */
    max-width: 70%;
    height: auto;
}

a
{
    /* links */
    color: hsl(240, 10%, 67%);
}