*{
    margin: 0px;
    padding: 0px;
}

body
{
    /* coloring the background and text */
    background-color: hsl(24, 80%, 86%);
    color: hsl(240, 27%, 36%);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 2rem;
}

header{
    margin-bottom: 20px;
    position: sticky;
    z-index: +1;
    top: 0;
    width: 100%;
}

main{
    margin: 0 auto;
    width: 1000px;
}

h1 h2 h3{
    font-family: 'Overpass', sans-serif;
    line-height: 4rem;
    margin: 5px;
}

h1 h2{
    text-shadow: -2px;
}

h2 h3{
    font-weight: 600;
}

h1{
    font-weight: 700;
    font-size: 3rem;
    /* centering h1 */
    text-align: center;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1,5rem;
}

/* start of nav */

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(5, 43%, 56%);
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 0.3rem 0.9rem;
}

nav ul li a{
    color: hsl(240, 27%, 36%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav ul li:hover{
    background-color: hsla(0, 0%, 0%, 0.1);
}

/* end of nav */

img
{
    /* img scaling */
    max-width: 50%;
    height: auto;
    /* float: left; */
    /* border: 5px; */
    /* margin-right: 10px; */
}

a
{
    /* links */
    color: hsl(240, 64%, 27%);
}

/* making the list items be on the inside of their current margin */
li{
    list-style-position: inside;
}

/* Styling of headerquote/quote */
.headerquote{
    background-color: hsla(0, 0%, 0%, 0.1);
    font-size: 20px;
}

.headerquote, .quote{
    margin: 1rem 0;
    padding: 1rem;
    font-style: italic;
    border-left: 1px solid grey;
}
/* styling of header img */
.headerimg{
    position: relative;
    margin-top: 1.5rem;
}

.headerimg img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}
/* styling of text on top of header */
.headerimgtxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.35);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1rem;
}