body
{
    background-color: hsl(24, 80%, 86%);
    color: hsl(240, 27%, 36%);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
}

nav
{
    text-align: center;
    background-color: hsl(5, 43%, 56%);
    min-height: 30px;
}

nav a
{
    color: hsl(240, 27%, 36%);
    text-decoration: none;
    padding: 6px;
}

h1, h2
{
    color: hsl(240, 27%, 36%);
}

img
{
    max-width: 70%;
    height: auto;
}

li
{
    color: hsl(240, 27%, 36%);
}

a
{
    color: hsl(240, 10%, 67%);
}