*{
    margin: 0;
    padding: 0;
}

/* Navigation */


nav ul li{
    list-style: none;
    list-style-position: inside;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}

nav{
    background-color: hsl(19, 80%, 29%);
    position: relative;
}

nav ul li:hover{
    background-color: hsl(19, 87%, 26%);
}

nav a{
    color: hsl(280, 74%, 26%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* desktop design */
@media screen and (min-width: 1000px){
    /* navigation */
    header{
        position: sticky;
        top: 0;
    }

    .navgrid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    }

    .navgrid-item {
    text-align: center;
    }
    /* Grid items */
    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    }

    .grid-item {
    text-align: center;
    padding: 1rem;
    }

    /* footer grid */
    .footgrid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }

    .footgrid-item{
    text-align: start;
    }

    main img{
        max-width: 100%;
    }
}

/* overall page design */
body{
    background-color: hsl(31, 35%, 83%);
    color: hsl(280, 74%, 26%);
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

h2{
    font-size: 1.3rem;
    line-height: 2rem;
}

img{
    max-width: 13rem;
}

article{
    margin: 1rem 0;
}

main, footer{
    max-width: 1200px;
    margin: 1.5rem auto;
}

footer img{
    width: 1.5rem;
    height: auto;
    margin: 0 0.6rem;
}